
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.main {
  display: -webkit-flex;
  display: flex;
  margin-top: 0px;
}
.sidebar {
  width: 300px;
  margin-right: 0px;
  border-style: solid;
  border-color: #d1e2ff;
  border-width: 0px 1px 0px 0px;
  padding: 0px 25px;
  height: 760px;
  overflow-y: scroll;
}

.graphic {
  -webkit-flex: 1;
  flex: 1;
}

.head {
  background-color: #ffffff;
  color: #ffffff;
  border-width: 1px;
  border-color: #000000;
  border-style:solid;
  margin: 0px;
}
.auditBox{
  margin-top: 10px;
}

.submission{
  margin-top:3px;

}

a {
  color: #000000;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}